*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(50, 21, 1);
    color: rgb(255,219,199);

}

header{
    background-color: #3b7544;
    color: #d8e3da;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    width: 100%;
    height: 5rem;
}

#logo{
    max-height: 5rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
#bag{
    max-height: 5rem;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1rem;
}
#bag:hover, #logo:hover{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.74);
    cursor: pointer;
}

#headerMessage{
    display: inline-block;
    text-align: center;
    justify-content: center;
}
#title{
    text-decoration: none;
    color: #d8e3da
}

nav{
    background-color:#753b6c;
    color: #e3d8e2;
    margin: 0;
    text-align: center;
    position: relative;
    width: 100%;
}

ul{
    display: inline-block;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
    
}

li{
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block
}

.navLink{
    color:#e3d8e2;
    text-decoration: none;
}

.navLink:hover{
    cursor: pointer;
    color: hsl(305, 16%, 67%)
}

#darkWood{
    width: 100%;
    height: 25rem;
    display: none;
}

.card{
    border: 1px solid rgb(255,219,199);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, .1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
#contactForm{
    border: 1px solid #3b7544;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, .1);
    padding: 20px;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    
}
.cardImg{
    max-width: 200px;
}
.cardButton, #formButton{
    color:rgb(255,219,199);
    background-color:black;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 1rem;
}
.cardButton:hover, #formButton:hover{
    cursor: pointer;
    background-color: #3b7544;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.74);
}
